packages
command-center/packages
dist
command-center/dist
SmarterCircuits/config.json
snapshots
SmarterCircuits/logs
SmarterCircuits/thermosettings.json
SmarterCircuits/shellylogins.json
SmarterCircuits/secrets.json
SmarterCircuits/__pycache__
*.pyc
