<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-md-7 py-4">
        <h4>About Me</h4>
        <p class="text-primary">I am an application developer as well as a technical and creative writer. I have over a decade of experience writing various desktop and web applications using several technologies from Microsoft's .Net framework to Node and Python. As a writer, I have written numerous technical specification documents for software end-users in addition to various training materials. I have a self-published young adult fiction novel and I've been the ghostwriter for several short stories, novellas, and screenplays.</p>
      </div>
      <div class="col-md-3 offset-md-1 py-4">
        <h4>Contact</h4>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.linkedin.com/in/ian-kline-69551a20/" class="text-secondary">Connect on LinkedIn</a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/IanKline" class="text-secondary">Watch on Youtube</a>
          </li>
          <li>
            <a href="https://github.com/blurrydude" class="text-secondary">Follow on Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex align-items-center"><i class="fa d-inline fa-coffee mr-2"></i><strong>Ian D. Kline</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"> <span class="navbar-toggler-icon"></span> </button>
  </div>
</div>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>© 2021 - Ian D. Kline<br></p>
    <div class="row">
      <div class="col-md-2"><a class="btn btn-link" href="https://www.linkedin.com/in/ian-kline-69551a20/" style="color:#0976b4" target="_blank"><i class="fa fa-linkedin-square fa-fw fa-1x py-1"></i> Linkedin</a></div>
      <div class="col-md-2"><a class="btn btn-link" href="https://www.youtube.com/c/IanKline" style="color:#e52d27" target="_blank"><i class="fa fa-youtube-square fa-fw fa-1x py-1"></i> Youtube</a></div>
      <div class="col-md-2"><a class="btn btn-link" href="https://github.com/blurrydude" style="color:#333333" target="_blank"><i class="fa fa-github-square fa-fw fa-1x py-1"></i> Github</a></div>
      <div class="col-md-2"><a class="btn btn-link" href="https://www.amazon.com/Fall-FelDuhr-Nine-Kingdoms-Book-ebook/dp/B01N3RA5J7/ref=sr_1_1?dchild=1&amp;keywords=fall+of+felduhr&amp;qid=1616597458&amp;sr=8-1#detailBullets_feature_div" style="color:#333333" target="_blank"><i class="fa fa-amazon fa-fw fa-1x py-1"></i> Amazon</a></div>
      <div class="col-md-2"><a class="btn btn-link" href="https://www.twitch.tv/blurrydude" style="color:#339900" target="_blank"><i class="fa fa-twitch fa-fw fa-1x py-1"></i> Twitch</a></div>
      <div class="col-md-2"><a class="btn btn-link" href="https://codepen.io/blurrydude" style="color:#333399" target="_blank"><i class="fa fa-codepen fa-fw fa-1x py-1"></i> Codepen</a></div>
    </div>
  </div>
</footer>
<div class="modal" id="code-snippet-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Code Snippet</h5> <button type="button" class="close" data-dismiss="modal"> <span>×</span> </button>
      </div>
      <div class="modal-body">
        <p>This feature is coming soon... Please check back.<br></p>
      </div>
      <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
