
<ng-template #content let-modal>
        <div class="modal-header">
          <h5 class="modal-title">Login</h5> <button type="button" class="btn btn-dark close" (click)="modal.dismiss('Cross click')"> <span>×</span> </button>
        </div>
        <div class="modal-body">
          <form #f="ngForm" (ngSubmit)="login(f)" novalidate>
            <small>User</small><br/>
            <input type="text" class="form-control" ngModel name="user"/><br/>
            <small>Pass</small><br/>
            <input type="password" class="form-control" ngModel name="pass"/><br/>
            <button class="btn btn-primary">Log In</button>
          </form>
        </div>
        <div class="modal-footer"> <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button> </div>
</ng-template>

<div class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex align-items-center"><i class="fa d-inline fa-sitemap mr-2"></i>&nbsp;<strong>My House</strong> </a>
    <button *ngIf="httpMessageService.auth == ''" class="btn btn-dark" (click)="launch_login(content)"><i class="fa d-inline fa-user mr-2"></i>&nbsp;<strong>Log In</strong> </button>
  </div>
</div>
<router-outlet></router-outlet>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>© 2021 - Ian D. Kline<br></p>
    <div class="row">
      <div class="col-md-2"><a class="btn btn-link" href="https://www.linkedin.com/in/ian-kline-69551a20/" style="color:#0976b4" target="_blank"><i class="fa fa-linkedin-square fa-fw fa-1x py-1"></i> Linkedin</a></div>
      <div class="col-md-2"><a class="btn btn-link" href="https://www.youtube.com/c/IanKline" style="color:#e52d27" target="_blank"><i class="fa fa-youtube-square fa-fw fa-1x py-1"></i> Youtube</a></div>
      <div class="col-md-2"><a class="btn btn-link" href="https://github.com/blurrydude" style="color:#333333" target="_blank"><i class="fa fa-github-square fa-fw fa-1x py-1"></i> Github</a></div>
      <div class="col-md-2"><a class="btn btn-link" href="https://www.amazon.com/Fall-FelDuhr-Nine-Kingdoms-Book-ebook/dp/B01N3RA5J7/ref=sr_1_1?dchild=1&amp;keywords=fall+of+felduhr&amp;qid=1616597458&amp;sr=8-1#detailBullets_feature_div" style="color:#333333" target="_blank"><i class="fa fa-amazon fa-fw fa-1x py-1"></i> Amazon</a></div>
      <div class="col-md-2"><a class="btn btn-link" href="https://www.twitch.tv/blurrydude" style="color:#339900" target="_blank"><i class="fa fa-twitch fa-fw fa-1x py-1"></i> Twitch</a></div>
      <div class="col-md-2"><a class="btn btn-link" href="https://codepen.io/blurrydude" style="color:#333399" target="_blank"><i class="fa fa-codepen fa-fw fa-1x py-1"></i> Codepen</a></div>
    </div>
  </div>
</footer>
