<div class="row">
  <div class="offset-1 col-md-10">
    <div class="row">
      <div class="col-md-6" *ngFor="let reading of readings | keyvalue">
        <div class="card text-center my-2">
          <div class="card-header">
            <h5>{{reading.key}}</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h5>Readings</h5>
                Temp: {{reading.value['temperature']}}&deg;F<br/>
                Hum: {{reading.value['humidity']}}%<br/>
                Time: {{reading.value['timestamp']}}
              </div>
              <div class="col-md-6">
                <h5>Settings</h5>
                High: {{reading.value['settings']['temperature_high_setting']}}&deg;F<br/>
                Low: {{reading.value['settings']['temperature_low_setting']}}&deg;F<br/>
                Humidity Limit: {{reading.value['settings']['humidity_setting']}}%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" *ngFor="let pistat of pistatus | keyvalue">
        <div class="card text-center my-2">
          <div class="card-header">
            <h5>{{pistat.key}}</h5>
          </div>
          <div class="card-body">
            {{pistat.value['heartbeat']}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" *ngFor="let circuitstatus of status | keyvalue">
        <div class="card text-center my-2">
          <div class="card-header" [ngClass]="{'bg-success text-light':circuitstatus.value['state'] == 'on','bg-danger text-light':circuitstatus.value['state'] == 'off'}">
            <h5>{{circuitstatus.key}}</h5>
          </div>
          <div class="card-body">
            {{circuitstatus.value["power"]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
