<div class="row">
  <div class="offset-1 col-md-10">
    <div class="row mt-3 mb-2 bg-info text-center">
      <div class="col-md-12">
        <h3>Thermostats</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" *ngFor="let reading of readings | keyvalue">
        <div class="card text-center my-2">
          <div class="card-header">
            <h5>{{reading.key}}</h5>
            <span [ngClass]="{'text-muted':reading.value['heating']=='off','text-danger':reading.value['heating']=='on'}"><i class="fa fa-2x fa-fire"></i></span>&nbsp;&middot;&nbsp;
            <span [ngClass]="{'text-muted':reading.value['cooling']=='off','text-info':reading.value['cooling']=='on'}"><i class="fas fa-2x fa-snowflake"></i></span>&nbsp;&middot;&nbsp;
            <span [ngClass]="{'text-muted':reading.value['circulation']=='off','text-success':reading.value['circulation']=='on'}"><i class="fa fa-2x fa-wind"></i></span>&nbsp;&middot;&nbsp;
            <span [ngClass]="{'text-muted':reading.value['whf']=='off','text-dark':reading.value['whf']=='on'}"><i class="fa fa-2x fa-fan"></i></span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h5>Readings</h5>
                Temp: {{reading.value['temperature']}}&deg;F<br/>
                Hum: {{reading.value['humidity']}}%<br/>
                Time: {{reading.value['timestamp']}}<br/>
                Status: {{reading.value['status']}}
              </div>
              <div class="col-md-6">
                <h5>Settings</h5>
                High: {{reading.value['settings']['temperature_high_setting']}}&deg;F<br/>
                Low: {{reading.value['settings']['temperature_low_setting']}}&deg;F<br/>
                Humidity Limit: {{reading.value['settings']['humidity_setting']}}%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-2 bg-danger text-center">
      <div class="col-md-12">
        <h3>Doors</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" *ngFor="let door of doors | keyvalue">
        <div class="card text-center my-2">
          <div class="card-header">
            <h5>{{door.key}} door</h5>
          </div>
          <div class="card-body">
            <h4>{{door.value}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-2 bg-success text-center">
      <div class="col-md-12">
        <h3>Raspberry Pies</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" *ngFor="let pistat of pistatus | keyvalue">
        <div class="card text-center my-2">
          <div class="card-header text-light" [ngClass]="pistat.value['class']">
            <h5>{{pistat.key}}</h5>
          </div>
          <div class="card-body">
            {{pistat.value['heartbeat'] | date:'short'}}
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-2 bg-warning text-center">
      <div class="col-md-12">
        <h3>Circuits - {{totalPower | number: '1.1-1'}} W</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" *ngFor="let circuitstatus of status | keyvalue">
        <div class="card text-center my-2">
          <div class="card-header text-light" [ngClass]="{'bg-success':circuitstatus.value['state'] == 'on','bg-danger':circuitstatus.value['state'] == 'off'}">
            <h5>{{circuitstatus.key}}</h5>
          </div>
          <div class="card-body">
            <span [ngClass]="{'fw-bold':circuitstatus.value['power'] > 0,'text-muted':circuitstatus.value['power'] == 0}">{{circuitstatus.value["power"] | number: '1.1-1'}} W</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
