<div class="row">
  <div class="offset-3 col-md-10">
    <div class="row">
      <div class="col-md-6">
        <div class="card text-center my-2">
          <div class="card-header">
            <h5>Second Floor Thermostat</h5>
          </div>
          <div class="card-body">
            <span>{{hallway.temperature}}&deg;F</span><br/>
            <span>{{hallway.humidty}}%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" *ngFor="let pistat of pistatus | keyvalue">
        <div class="card text-center my-2">
          <div class="card-header">
            <h5>{{pistat.key}}</h5>
          </div>
          <div class="card-body">
            {{pistat.value['heartbeat']}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" *ngFor="let circuitstatus of status | keyvalue">
        <div class="card text-center my-2">
          <div class="card-header" [ngClass]="{'bg-success text-light':circuitstatus.value['state'] == 'on','bg-danger text-light':circuitstatus.value['state'] == 'off'}">
            <h5>{{circuitstatus.key}}</h5>
          </div>
          <div class="card-body">
            {{circuitstatus.value["power"]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
